Appium-Python-Client==0.44
attrs==19.1.0
certifi==2019.3.9
chardet==3.0.4
filelock==3.0.12
funcsigs==1.0.2
idna==2.8
pluggy==0.12.0
py==1.8.0
pytest==4.6.3
PyYAML==5.1.1
requests==2.22.0
selenium==3.141.0
six==1.12.0
testobject==0.3.0
toml==0.10.0
tox==3.12.1
urllib3==1.25.3
virtualenv==16.6.1